html {
  background: url("../images/HollyAvilaBackground.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.carousel-inner img {
  margin: auto;
}

.abs-center-x {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.abs-center-x a {
  font-size: 24px;
  font-weight: bolder;
}

.about p {
  color: #f8f8f8;
  font-weight: bolder;
  font-size: 18px;
  text-shadow: 5px 5px 1 #000000;
}

.about a {
  color: #FFF;
  text-decoration: underline;
}

.musicbuttons a {
  text-decoration: none;
}

.foot {
  color: #FFF;
  font-size: 16px;
}

.footsm a {
  color: #DDD;
}

.footsm {
  color: #CCC;
  font-size: 12px;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: bold;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  color: #FFF;
  font-weight: 300;
  line-height: -.75;
  letter-spacing: -.05rem;
  vertical-align: middle;
}

.featurette-heading h2 {
  vertical-align: middle;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 40px;
    text-shadow: 3px 3px 0.5 #000000;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 1rem;
  }
}

.top-buffer {
  padding-top: 2%;
}

.content {
  padding: 10px 44px;
}

.text {
  border-bottom: 1px solid #FFFFFF;
  margin-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.text h2 {
  color: #FFFFFF;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: lighter;
  letter-spacing: 2px;
}

.coverart {
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
